<div class="login-container">
    <h2>Inicia Session</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field class="form-field">
        <input matInput placeholder="Correo Electrónico" name="username" [(ngModel)]="loginFormValue.username" required>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="loginFormValue.password" required>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput placeholder="Clave Cliente" name="claveCliente" [(ngModel)]="loginFormValue.claveCliente" required>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
  
      <div class="reset-password-link">
        <a routerLink="/reset-password">Olvido la Contraseña? </a>
      </div>
    </form>
  </div>